# SD card image for the TRX-duo (Zynq-7010)
#
# FAT boot partition holds the U-Boot SPL (boot.bin), U-Boot proper
# (u-boot.img), the boot script (boot.scr), the kernel (zImage) and the
# device tree (system.dtb). uEnv.txt is kept for manual booting.
#
image boot.vfat {
	vfat {
		file boot.bin {
			image = "boot.bin"
		}

		file u-boot.img {
			image = "u-boot.img"
		}

		file boot.scr {
			image = "boot.scr"
		}

		file uEnv.txt {
			image = "uEnv.txt"
		}

		file zImage {
			image = "zImage"
		}

		file system.dtb {
			image = "%DTBFILE%.dtb"
		}

	}

	size = 32M
}

image sdcard.img {
	hdimage {
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
}
